<section class="about-page">
  <div class="about-page-wrapper">
    <aside class="about-page-menu">
      <nav class="side-nav grid">
        <ul>
          <li class="side-nav-title">Tentang Kami</li>
          <li class="active"><a href="#">Profil Perusahaan</a></li>
          <li><a href="#">Informasi & Karir</a></li>
          <li><a href="#">Laporan Publikasi</a></li>
        </ul>
      </nav>
    </aside>
    <div class="about-page-content">
      <div class="about-page-banner">
        <!-- <h1>Profil Bank Duta Kepri</h1> -->
      </div>
      <div class="about-page-detail container">
        <h1 class="about-title">Profil Perusahaan</h1>
        <div class="about-page-point">
          <h2>Sejarah Berdiri</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis totam illo laborum, quis
            assumenda excepturi distinctio iure nihil ad, sapiente cumque, optio saepe neque dolore
            veniam doloremque a. Dicta, obcaecati!
            Ad ex, fugit laudantium iure adipisci voluptatibus earum rem sapiente corrupti consequuntur?
            Possimus soluta ab nemo ut nulla sapiente vero reiciendis maiores deleniti a? Iste sunt
            iusto corrupti atque amet.
            Dolor aspernatur ipsum cumque. Praesentium id assumenda ratione commodi, nulla a ullam
            fugit, asperiores sunt libero animi mollitia. Amet nobis quod modi omnis itaque accusamus
            voluptas consequuntur obcaecati quasi culpa.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt fugiat ea quaerat quasi nobis
            neque reprehenderit dolorum odit voluptatem saepe eveniet earum distinctio explicabo
            obcaecati, aut debitis perferendis quod accusantium.Perferendis voluptatibus tempore minima
            et, maiores reprehenderit ab dolore mollitia impedit placeat aperiam recusandae voluptatem
            minus, nemo delectus tenetur! Ullam quis pariatur a voluptatem expedita cum praesentium,
            asperiores tempore nulla!</p>
        </div>
        <div class="about-page-point">
          <h2>Profil BPR</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt fugiat ea quaerat quasi nobis
            neque reprehenderit dolorum odit voluptatem saepe eveniet earum distinctio explicabo
            obcaecati, aut debitis perferendis quod accusantium.Perferendis voluptatibus tempore minima
            et, maiores reprehenderit ab dolore mollitia impedit placeat aperiam recusandae voluptatem
            minus, nemo delectus tenetur! Ullam quis pariatur a voluptatem expedita cum praesentium,
            asperiores tempore nulla!</p>
        </div>
        <div class="about-page-point logo-point">
          <h2>Logo & Makna</h2>
          <img src="../../assets/img/dk-logo-round.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero accusantium animi
            eveniet itaque, asperiores adipisci magnam laboriosam amet facere velit, atque distinctio?
            Molestiae accusantium voluptatum sequi ipsam. Omnis, numquam.Velit quod laudantium amet
            perferendis placeat beatae cum mollitia enim repudiandae voluptatem, temporibus porro
            voluptatibus natus. Quod accusamus sunt perspiciatis voluptas. Eum non vel est nulla in
            doloribus rerum saepe!</p>
        </div>

      </div>
    </div>
  </div>