<section class="contact">
  <div class="contact-wrapper container">
    <h1 class="title">Hubungi Kami</h1>
    <h2>Bank Duta Kepri</h2>
    <p>Silahkan isi form secara lengkap atau hubungi nomor yang tertera di bawah halaman ini untuk menghubungi
      kami.
      Costumer
      Service akan merespon pertanyaan, kritik dan saran anda.</p>
    <hr>
    <div class="grid">
      <div class="contact-detail">
        <img src="../../assets/img/employee.png" alt="">
      </div>
      <form class="form" action="#">
        <div class="form-group">
          <label for="#kategori">Kategori Pesan</label>
          <select name="kategori" id="kategori">
            <option value="1">Saran</option>
            <option value="2">Kritik</option>
            <option value="3">Pertanyaan</option>
          </select>
          <!-- <div class="form-radio">
                    <div class="radio-group">
                        <input type="radio" name="kategori" id="" value="1">
                        <span>Kritik</span>
                    </div>
                <div class="radio-group">
                        <input type="radio" name="kategori" id="" value="2">
                        <span>Saran</span>
                    </div>
                    <div class="radio-group">
                        <input type="radio" name="kategori" id="" value="3">
                        <span>Pertanyaan</span>
                    </div>
                </div> -->
        </div>
        <div class="form-group">
          <label for="#nama">Nama Lengkap</label>
          <input type="text" id="nama">
        </div>
        <div class="form-group">
          <label for="#hp">No. Handphone</label>
          <input type="text" id="hp">
        </div>
        <div class="form-group">
          <label for="#email">Email</label>
          <input type="email" id="email">
        </div>
        <div class="form-group">
          <label for="#judul">Judul Email</label>
          <input type="text" id="judul">
        </div>
        <div class="form-group">
          <label for="#pesan">Pesan</label>
          <textarea name="pesan" id="pesan" cols="30" rows="10"></textarea>
        </div>
        <a href="#" class="btn btn-accent">Kirim Pesan</a>
      </form>
    </div>
  </div>