<header class="header">
  <div class="container grid">
    <div class="brand-logo">
      <a href="index.html">
        <img src="../assets/img/dk-logo-white.png" alt="Bank Duta Kepri">
      </a>
    </div>
    <nav class="main-nav">
      <ul class="nav-list">
        <li><a href="index.html" class="active">Beranda</a></li>
        <li><a href="product.html">Produk & Layanan</a></li>
        <li><a href="about.html">Tentang Kami</a></li>
        <li><a href="contact.html">Kontak</a></li>
      </ul>
    </nav>

    <nav class="main-nav-small" [class.is-open]="navOpen">
      <ul class="nav-list">
        <li><a href="index.html">Beranda</a></li>
        <li><a href="product.html">Produk & Layanan</a></li>
        <li><a href="about.html">Tentang Kami</a></li>
        <li><a href="contact.html">Kontak</a></li>
      </ul>
    </nav>

    <div class="nav-toggle" [class.active]="navOpen" (click)="toggleNav()">
      <div class="hamburger"></div>
    </div>
  </div>
</header>

<!-- <section class="promotion">
  <div class="promo">
    <div class="close">
      <div class="close-btn"></div>
    </div>
  </div>
</section> -->

<section class="hero">
  <div class="container">
    <h1 class="title-large"><span>Selamat Datang di Website</span> Bank Duta Kepri</h1>
    <p class="text-intro">BPR Duta Kepri bergerak dalam usaha perbankan, melayani Tabungan, Deposito dan Kredit.
      Pelayanan yang baik menjadi prioritas utama dari kami dengan maksud agar setiap nasabah merasa menjadi
      bagian dari keluarga besar BPR Duta Kepri.</p>
    <div class="hero-button grid">
      <a href="#" class="btn btn-secondary">Tentang Kami</a>
      <a href="#product" class="btn btn-accent">Lihat Produk</a>
    </div>
  </div>
</section>

<section class="product" id="product">
  <div class="container">
    <h1 class="title">Produk & Layanan</h1>
    <div class="product-items grid">
      <div class="product-item">
        <h2>Kredit</h2>
        <img src="../assets/img/kredit-icon.png" alt="">
        <div class="product-caption">
          <p>Berbagai product Pembiayaan yang Didesain Khusus untuk Memenuhi Kebutuhan Anda.</p>
          <a href="product.html" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
      <div class="product-item">
        <h2>Tabungan</h2>
        <img src="../assets/img/tabungan-icon.png" alt="">
        <div class="product-caption">
          <p>Tabungan Duta Prima dan TabunganKu dengan Bunga yang Tinggi serta Dijamin LPS.</p>
          <a href="#" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
      <div class="product-item">
        <h2>Deposito</h2>
        <img src="../assets/img/deposito-icon.png" alt="">
        <div class="product-caption">
          <p>Deposito Bunga Kharisma yang Memberikan Suku Bunga Kompetitif dan Dijamin LPS</p>
          <a href="#" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map">
</section>

<section class="stakeholders">
  <div class="container">
    <p class="text-detail">Terdaftar dan Diawasi oleh :</p>
    <div class="grid">
      <div class="stakeholder">
        <img src="../assets/img/ojk-logo.png" alt="Otoritas Jasa Keuangan">
      </div>
      <div class="stakeholder">
        <img src="../assets/img/lps-logo.png" alt="Lembaga Penjamin Simpanan">
      </div>
      <div class="stakeholder">
        <img src="../assets/img/bi-logo.png" alt="Bank Indonesia">
      </div>
      <div class="stakeholder">
        <img src="../assets/img/akb-logo.png" alt="Ayo ke Bank">
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container grid">
    <div class="social-wrapper">
      <div class="address">
        <p class="text-intro">Kantor Pusat :</p>
        <p>Jl. Kamboja No. 21, Tanjungpinang 29112, Kepulauan Riau</p>
        <p>Telp. 0771-316888 | Fax. 0771-316800</p>
        <p>Email bprdutakepri@yahoo.co.id</p>
      </div>
      <div class="social-media grid">
        <a href="#"><img src="../assets/img/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="../assets/img/gplus-icon.png" alt="Google +"></a>
        <a href="#"><img src="../assets/img/instagram-icon.png" alt="Instagram"></a>
      </div>
    </div>
    <div class="nav-footer-wrapper">
      <nav class="footer-nav grid">
        <div class="nav-list-wrapper">
          <p class="text-intro">Kredit</p>
          <ul class="nav-list">
            <li><a href="#">Kredit Multiguna</a></li>
            <li><a href="">Kredit Pemilikan Mobil</a></li>
            <li><a href="">Kredit Pemilikan Rumah</a></li>
            <li><a href="">Kredit Modal Kerja</a></li>
            <li><a href="">Kredit Investasi</a></li>
          </ul>
        </div>
        <div class="nav-list-wrapper">
          <div class="tabungan-wrapper">
            <p class="text-intro">Tabungan</p>
            <ul class="nav-list">
              <li><a href="#">Tabungan Duta Prima</a></li>
              <li><a href="#">TabunganKu</a></li>
            </ul>
          </div>
          <div class="deposito-wrapper">
            <p class="text-intro">Deposito</p>
            <ul class="nav-list">
              <li><a href="#">Deposito Duta Kharisma</a></li>
            </ul>
          </div>
        </div>
        <div class="nav-list-wrapper">
          <div class="tentang-wrapper">
            <p class="text-intro">Tentang Kami</p>
            <ul class="nav-list">
              <li><a href="#">Profil Perusahaan</a></li>
              <li><a href="#">Informasi & Karir</a></li>
              <li><a href="#">Laporan Publikasi</a></li>
            </ul>
          </div>
          <div class="kontak-wrapper">
            <p class="text-intro">Kontak</p>
            <ul class="nav-list">
              <li><a href="#">Hubungi Kami</a></li>
              <li><a href="#">Layanan Pengaduan</a></li>
            </ul>
          </div>

        </div>
      </nav>
    </div>
    <div class="copyright">
      <p>Copyright &copy; 2018 <span>PT. Bank Perkreditan Rakyat Duta Kepri. </span></p>
      <p>All rights reserved</p>
    </div>
  </div>
</footer>