<section class="product-page">
  <div class="product-page-wrapper">
    <aside class="product-page-menu">
      <nav class="side-nav grid">
        <ul>
          <li class="side-nav-title">Kredit</li>
          <li><a href="#">Kredit Multiguna</a></li>
          <li class="active"><a href="#">Kredit Pemilikan Mobil</a></li>
          <li><a href="#">Kredit Pemilikan Rumah</a></li>
          <li><a href="#">Kredit Modal Kerja</a></li>
          <li><a href="#">Kredit Mikro</a></li>
          <li><a href="#">Kredit Investasi</a></li>
        </ul>
        <div>
          <ul>
            <li class="side-nav-title">Tabungan</li>
            <li><a href="#">Tabungan Duta Prima</a></li>
            <li><a href="#">TabunganKu</a></li>
          </ul>
          <ul>
            <li class="side-nav-title">Deposito</li>
            <li><a href="#">Deposito Duta Kharisma</a></li>
          </ul>
        </div>
      </nav>
    </aside>
    <div class="product-page-content">
      <div class="product-page-banner">
        <img src="../../assets/img/kpm-banner.jpg" alt="">
        <!-- <h1>Kredit Pemilikan Mobil</h1> -->
        <!-- <p class="text-detail">Membantu anda mendapatkan mobil impian untuk kebutuhan pribadi &
                  keluarga dengan berbagai keunggulan yang dapat anda nikmati.</p> -->
      </div>

      <div class="product-page-detail container">
        <h1 class="product-title">{{ productTitle }}</h1>
        <p class="product-caption">Bagi Anda yang ingin memiliki kendaraan, namun pembelian ingin dilakukan
          dengan cara Kredit, Kami
          memiliki produk Kredit Pemilikan Mobil dengan berbagai keunggulan yang dapat Anda nikmati.</p>
        <div class="product-page-point">
          <img src="../../assets/img/Keunggulan.svg" alt="">
          <h2>Keunggulan</h2>
        </div>
        <div class="counter">
          <p>Bunga Ringan 9% p.a</p>
          <p>Persyaratan Mudah</p>
          <p>Proses Pengajuan Cepat</p>
          <p>Perlindungan Asuransi untuk Anda dan Kendaraan Anda.</p>
        </div>
        <div class="product-page-point">
          <img src="../../assets/img/Persyaratan.svg" alt="">
          <h2>Persyaratan</h2>
        </div>
        <div class="counter">
          <p>Fotocopy KTP Pemohon (Suami & Istri)</p>
          <p>Fotocopy KTP Pemilik Agunan (Suami & Istri)</p>
          <p>Fotocopy KK & Surat Nikah</p>
          <p>Fotocopy NPWP untuk Pinjaman > 100 Juta</p>
          <p>Mutasi Tabungan / Rekening Koran 3 Bulan Terakhir</p>
          <p>Surat Keterangan Domisili</p>
          <p>Fotocopy Legalitas Usaha untuk Pemilik Usaha</p>
          <p>Fotocopy Keterangan Kerja & Slip Gaji Terakhir Karyawan</p>
          <p>Fotocopy Dokumen Agunan</p>
        </div>
        <div class="product-page-point">
          <img src="../../assets/img/Ketentuan.svg" alt="">
          <h2>Ketentuan</h2>
        </div>
        <div class="counter">
          <p>Merupakan Warga Negara Indonesia & Berdomisili di Indonesia</p>
          <p>Umur Minimum adalah 21 Tahun & Maksimal 55 Tahun</p>
          <p>Pembelian Mobil Baru / Bekas</p>
          <p>Jangka Waktu Kredit Maksimal Hingga 5 Tahun</p>
          <p>Mobil Berada di Pulau Bintan</p>
          <p>Umur Kendaraan Maksimal 12 Tahun</p>
        </div>
        <a href="#" class="btn btn-accent">Ajukan Sekarang</a>
      </div>
    </div>
  </div>