<!-- <section class="promotion">
  <div class="promo">
    <div class="close">
      <div class="close-btn"></div>
    </div>
  </div>
</section> -->

<section class="hero">
  <div class="container">
    <h1 class="title-large"><span>Selamat Datang di Website</span> Bank Duta Kepri</h1>
    <p class="text-intro">BPR Duta Kepri bergerak dalam usaha perbankan, melayani Tabungan, Deposito dan Kredit.
      Pelayanan yang baik menjadi prioritas utama dari kami dengan maksud agar setiap nasabah merasa menjadi
      bagian dari keluarga besar BPR Duta Kepri.</p>
    <div class="hero-button grid">
      <a [routerLink]="['/about']" class="btn btn-secondary">Tentang Kami</a>
      <a [routerLink]="['/product']" class="btn btn-accent">Lihat Produk</a>
    </div>
  </div>
</section>

<section class="product" id="product">
  <div class="container">
    <h1 class="title">Produk & Layanan</h1>
    <div class="product-items grid">
      <div class="product-item">
        <h2>Kredit</h2>
        <img src="../../assets/img/kredit-icon.png" alt="">
        <div class="product-caption">
          <p>Berbagai product Pembiayaan yang Didesain Khusus untuk Memenuhi Kebutuhan Anda.</p>
          <a [routerLink]="['/product']" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
      <div class="product-item">
        <h2>Tabungan</h2>
        <img src="../../assets/img/tabungan-icon.png" alt="">
        <div class="product-caption">
          <p>Tabungan Duta Prima dan TabunganKu dengan Bunga yang Tinggi serta Dijamin LPS.</p>
          <a [routerLink]="['/product']" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
      <div class="product-item">
        <h2>Deposito</h2>
        <img src="../../assets/img/deposito-icon.png" alt="">
        <div class="product-caption">
          <p>Deposito Bunga Kharisma yang Memberikan Suku Bunga Kompetitif dan Dijamin LPS</p>
          <a [routerLink]="['/product']" class="btn btn-accent">Lihat Produk</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map">
</section>

<section class="stakeholders">
  <div class="container">
    <p class="text-detail">Terdaftar dan Diawasi oleh :</p>
    <div class="grid">
      <div class="stakeholder">
        <img src="../../assets/img/ojk-logo.png" alt="Otoritas Jasa Keuangan">
      </div>
      <div class="stakeholder">
        <img src="../../assets/img/lps-logo.png" alt="Lembaga Penjamin Simpanan">
      </div>
      <div class="stakeholder">
        <img src="../../assets/img/bi-logo.png" alt="Bank Indonesia">
      </div>
      <div class="stakeholder">
        <img src="../../assets/img/akb-logo.png" alt="Ayo ke Bank">
      </div>
    </div>
  </div>
</section>