<footer class="footer" [class.onContact]="isOnContact">
  <div class="container grid">
    <div class="social-wrapper">
      <div class="address">
        <p class="text-intro">Kantor Pusat :</p>
        <p>Jl. Kamboja No. 21, Tanjungpinang 29112, Kepulauan Riau</p>
        <p>Telp. 0771-316888 | Fax. 0771-316800</p>
        <p>Email bprdutakepri@yahoo.co.id</p>
      </div>
      <div class="social-media grid">
        <a href="#"><img src="../../assets/img/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="../../assets/img/gplus-icon.png" alt="Google +"></a>
        <a href="#"><img src="../../assets/img/instagram-icon.png" alt="Instagram"></a>
      </div>
    </div>
    <div class="nav-footer-wrapper">
      <nav class="footer-nav grid">
        <div class="nav-list-wrapper">
          <p class="text-intro">Kredit</p>
          <ul class="nav-list">
            <li><a href="#">Kredit Multiguna</a></li>
            <li><a href="">Kredit Pemilikan Mobil</a></li>
            <li><a href="">Kredit Pemilikan Rumah</a></li>
            <li><a href="">Kredit Modal Kerja</a></li>
            <li><a href="">Kredit Investasi</a></li>
          </ul>
        </div>
        <div class="nav-list-wrapper">
          <div class="tabungan-wrapper">
            <p class="text-intro">Tabungan</p>
            <ul class="nav-list">
              <li><a href="#">Tabungan Duta Prima</a></li>
              <li><a href="#">TabunganKu</a></li>
            </ul>
          </div>
          <div class="deposito-wrapper">
            <p class="text-intro">Deposito</p>
            <ul class="nav-list">
              <li><a href="#">Deposito Duta Kharisma</a></li>
            </ul>
          </div>
        </div>
        <div class="nav-list-wrapper">
          <div class="tentang-wrapper">
            <p class="text-intro">Tentang Kami</p>
            <ul class="nav-list">
              <li><a href="#">Profil Perusahaan</a></li>
              <li><a href="#">Informasi & Karir</a></li>
              <li><a href="#">Laporan Publikasi</a></li>
            </ul>
          </div>
          <div class="kontak-wrapper">
            <p class="text-intro">Kontak</p>
            <ul class="nav-list">
              <li><a href="#">Hubungi Kami</a></li>
              <li><a href="#">Layanan Pengaduan</a></li>
            </ul>
          </div>

        </div>
      </nav>
    </div>
    <div class="copyright">
      <p>Copyright &copy; 2018 <span>PT. Bank Perkreditan Rakyat Duta Kepri. </span></p>
      <p>All rights reserved</p>
    </div>
  </div>
</footer>